@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	margin-top: 300px;
	text-align: center;
	color: white;
}

#clock{
	font-weight: 300;
	font-size: 120px;
}

@media(max-width: 900px) {
	.wrap{
		max-width: 885px;
	}
}

@media(max-width: 400px) {
	.wrap{
		max-width: 400px;
	}
}

@media(max-width: 250px) {
	.wrap{
		max-width: 250px;
	}
}